.drinks-list {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 55px;
  padding: 15px 15px 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 94vh;
  max-height: 94vh;
  z-index: 700 !important;
  /* border: solid green 2px; */
  overflow: hidden;
}

.drinks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: 85vh;
  margin-bottom: 100px;
  overflow: scroll;
  gap: 10px;
  /* border: red 1px solid; */
  /* overflow: visible; */
}

.drink-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background: rgba(61, 61, 61, 0.2);
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 15px;
  width: 45%;
  height: 290px;
  cursor: pointer;
  overflow: hidden;
}
.drink-card:hover {
  transform: translateY(-3px);
}

.drink-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: saturate(85%) grayscale(20%) sepia(5%);
  transition: transform 0.3s ease-in-out;
}

.drink-card:hover .drink-thumbnail {
  transform: scale(1.02);
}

.drink-details {
  width: 100%;
  padding-top: 10px;
}

.drink-name {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  margin: 5px 0;
}

.drink-short-description {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white);
}

@media screen and (max-width: 900px) {
  .drinks-list {
    min-width: 85vw;
    max-width: 85vw;
    margin: 60px 0 100px 0;

    z-index: 1;
  }

  .drinks-container {
    margin-left: 0%;
  }

  .drink-card {
    width: 80%;
    height: 320px;
  }
  .drink-card:hover {
  }

  .drink-thumbnail {
  }

  .drink-card:hover .drink-thumbnail {
  }

  .drink-details {
  }

  .drink-name {
    line-height: 1.5rem;
  }

  .drink-short-description {
  }
}
