.drinks-list {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-top: 1px solid #ecc2c4; */
  min-width: 100vw;
  max-width: 100vw;
  height: fit-content;
  z-index: 0;
  overflow: hidden;
  /* border: green 1px solid; */
}

.drinks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-width: 100vw;
  height: fit-content;
  overflow: hidden;
  gap: 10px;
  padding-top: 40px;
  /* border: red 1px solid; */
  /* overflow: visible; */
}

.drink-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background: rgba(61, 61, 61, 0.2);
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 15px;
  width: 35%;
  height: 290px;
  cursor: pointer;
  overflow: hidden;
}
.drink-card:hover {
  transform: translateY(-3px);
}

.drink-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: saturate(85%) grayscale(20%) sepia(5%);
  transition: transform 0.3s ease-in-out;
}

.drink-card:hover .drink-thumbnail {
  transform: scale(1.02);
}

.drink-details {
  width: 100%;
  padding-top: 10px;
}

.drink-name {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  margin: 5px 0;
}

.drink-short-description {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white);
}

@media screen and (max-width: 900px) {
  .drinks-list {
  }

  .drinks-container {
    margin-left: 35px;
  }

  .drink-card {
    width: 70%;
  }
  .drink-card:hover {
  }

  .drink-thumbnail {
  }

  .drink-card:hover .drink-thumbnail {
  }

  .drink-details {
  }

  .drink-name {
  }

  .drink-short-description {
  }
}
