.drinks-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  /* border-top: 1px solid #ecc2c4; */
  width: 75%;
  height: fit-content;
  z-index: 0;
  /* border: green 1px solid; */
}

.drinks-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  border-top: 1px solid #ecc2c4;
  padding-top: 20px;
  width: 100%;
  height: fit-content;
  /* border: green 1px solid; */
  overflow: hidden;
}
.drinks-name {
  justify-content: start;
  /* border: solid green 3px; */
}

.drinks-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-wrap: wrap;
  align-items: end;
  text-align: end;
}
.drinks-instructions {
  width: 90%;
  height: fit-content;
  text-wrap: wrap;
}

.table-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-bottom: 20px;
  /* border: solid green 2px; */
}
.measure-ingredient-list {
  display: flex;
  flex-direction: row;
}
.measure-ingredient-col {
  min-width: 200px;
  /* border: forestgreen solid 2px; */
  text-align: end;
}

.drinks-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  filter: saturate(75%) grayscale(30%) sepia(10%);
}

.bin-icon {
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.bin-icon:hover {
  border: none;
}

.confirmation-message {
  background-color: var(--background-color);
  color: var(--white);
  padding-top: 5px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: start;
  width: 275px;
  height: 25px;
  font-size: 1.5rem;
  gap: 10px;
}
.confirmation-message button {
  border: none;
}

@media screen and (max-width: 720px) {
  .drinks-container {
    width: 85%;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
  }
  .drink-ingredients {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
  .drink-image-container {
    margin-top: -100px;
    width: 40%;
  }
  .drinks-instructions {
    height: fit-content;
  }
  .current-letter {
    margin-top: 10px;
  }
  .alphabet {
    left: -30px;
  }
}
