.edit-drink-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.edit-drink-modal-content {
  background: var(--background-color, #2c2c2c);
  color: var(--white);
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  max-width: 90vh;
  min-height: 500px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: var(--white) 1px solid;
  border-right: var(--white) 1px solid;
  overflow-y: scroll;
}

.edit-drink-modal-content label {
  font-weight: 100;
}

.edit-input {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
}

.define-name {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
}

.category-glass-edit-field {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.define-category,
.define-glass {
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.define-instructions {
  min-height: 50px;
  max-height: 100px;
  min-width: 95%;
  overflow-y: auto;
  margin-bottom: 10px;
}
.define-description {
  min-height: 20px;
  max-height: 20px;
  min-width: 95%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.measure-input-table {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.ingredient-section-input {
  border: none;
  width: 75%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
}

.save-icon,
.cancel-icon,
.bin-icon {
  font-size: 1.6rem;
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.save-icon:hover {
  color: var(--green);
}

.cancel-icon:hover,
.bin-icon:hover {
  color: var(--red);
}

@media screen and (max-width: 900px) {
  .edit-drink-modal {
    padding-top: 4vh;
  }

  .edit-drink-modal-content {
    min-width: 95vw;
    max-width: 95vw;
    padding: 0 0 0 0;
    min-height: 650px;
    max-height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
    scale: 1;
  }

  .edit-input {
    width: 60%;
  }

  .category-glass-edit-field {
    width: 75%;
  }
  .define-instructions {
    min-width: 80%;
    max-width: 80%;
  }
  .define-description {
    min-width: 80%;
    max-width: 80%;
  }
  .ingredients-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .measure-input-table {
    width: 80%;
  }
}
