.register {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card {
  padding: 30px;
  border-radius: 8px;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
  width: 350px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  color: var(--white);
  text-align: left;
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 5px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border-bottom: solid var(--white) 1px;
  border-left: solid var(--white) 1px;
  border-top: none;
  border-right: none;
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--white);
}

.register-form input:focus {
  border-bottom: 1px solid var(--green);
  border-left: 1px solid var(--green);
}

.register-form button {
  background-color: var(--white);
  color: var(--background-color);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.register-form button:hover {
  background-color: var(--green);
}

.login-switch-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px;
  gap: 10px;
}
