.App {
  width: 100vw;
  background-color: #262523;
  color: #ecc2c4;
  font-family: "Chivo", sans-serif;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.alphabet {
  position: fixed;
  left: 1%;
  top: 20%;
  display: block;
  width: 1%;
  text-align: start;
}
.current-letter {
  padding-top: 50px;
  display: block;
}

.drinks-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  padding-top: 75px;
  padding-left: 70px;
  padding-bottom: 25px;
  border-top: 1px solid #ecc2c4;
  width: 85%;
  height: fit-content;
  /* border: green 1px solid; */
}

.drinks-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-wrap: wrap;
  align-items: end;
  width: 50%;
  text-align: end;
}
.drinks-instructions {
  width: 90%;
  height: fit-content;
  text-wrap: wrap;
}

.drink-ingredients {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  align-items: start;
  width: 18%;
  line-height: 1.5rem;
  margin-left: 50px;
  margin-top: -50px;
}

.drink-image-container {
  margin-top: -50px;
  width: 12%;
}
.drinks-image {
  width: 100%;
  border-radius: 50%;
  filter: saturate(75%) grayscale(30%) sepia(10%);
}

/* DROPDOWN */
.dropdown-buttons {
  z-index: 999;
}
.dropdown-search-options {
  background-color: #262523;
  z-index: 10;
  position: fixed;
  top: 2%;
  left: 27.5%;
  height: 200px;
  width: 400px;
  border: 1px solid #ecc2c4;
  border-radius: 10px;
}

.glassware-selection {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  width: 25%;
}
.glassware-selection input {
  width: 20px;
  color: #262523;
  background-color: #ecc2c4;
}
.checkmark input:checked {
  height: 20px;
  width: 20px;
  color: #262523;
  background-color: #ecc2c4;
}

@media screen and (max-width: 720px) {
  .drinks-container {
    width: 85%;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
  }
  .drink-ingredients {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
  .drink-image-container {
    margin-top: -100px;
    width: 40%;
  }
  .drinks-instructions {
    height: fit-content;
  }
  .current-letter {
    margin-top: 10px;
  }
  .alphabet {
    left: -30px;
  }
}
