nav {
  position: fixed;
  top: 10%;
  left: 0;
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1;
  padding-top: 70px;
  /* border-right: green solid 2px; */
  background-color: rgba(0, 0, 0, 0);
}

.current-letter {
  position: fixed;
  top: 0rem;
  left: 2.5rem;
  color: var(--white);
  height: 10px;
  min-width: 50px;
  max-width: 50px;
  /* border: red solid 2px; */
  display: flex;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}

.alphabet {
  position: fixed;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.alphabet li {
  cursor: pointer;
  color: var(--white);
  font-size: 0.9rem;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0);
}

.alphabet li:hover {
  transform: scale(1.5);
}
.search-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  /* border: green 2px solid; */
  width: fit-content;
  z-index: 2;
}

.search-bar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 4;
  /* border: 2px solid green; */
  background-color: rgba(0, 0, 0, 0);
}
.search-bar input {
  width: 250px;
  height: 35px;
  background-color: #262523;
  color: #ecc2c4;
  border: 1px solid #ecc2c4;
  border-radius: 10px;
}
input:focus {
  outline: none;
}

.search-dropdown-container {
  position: fixed;
  top: 3.5rem;
  left: 10rem;
  height: 300px;
  width: 250px;
  background-color: var(--background-color);
  border: 2px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 100;
}
.selection {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.selection label {
  margin-bottom: -15px;
}

.search-button {
  margin: 0px 20px 20px 20px;
}

.show-all {
  position: flex;
  background-color: var(--white);
  color: var(--background-color);
  margin: 10px 0px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 2px var(--background-color) solid;
  text-transform: uppercase;
}

.show-all:hover {
  background-color: var(--background-color);
  color: var(--white);
  border: 2px var(--white) solid;
}

.toggle-drink-form-button {
  position: fixed;
  top: 0.2rem;
  right: 0.5rem;
  z-index: 200;
  background-color: #26252300;
  color: var(--white);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.toggle-drink-form-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  border: none;
}

.dropdown-buttons {
  margin: 10px;
  z-index: 5;
}

.dropdown-options {
  background-color: none;
}

.logout-button {
  margin: 17px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  nav {
  }

  .current-letter {
    top: 5rem;
    left: 0.3rem;
    margin-top: 10px;
  }

  .alphabet {
    left: -30px;
  }

  .alphabet li {
  }

  .alphabet li:hover {
  }
  .search-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: green 2px solid; */
    width: 100vw;
    z-index: 5;
  }

  .search-bar {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 60%;
    z-index: 4;
    /* border: 2px solid purple; */
    background-color: rgba(0, 0, 0, 0);
  }
  .search-bar input {
    width: 100%;
    height: 35px;
    background-color: #262523;
    color: #ecc2c4;
    border: 1px solid #ecc2c4;
    border-radius: 10px;
  }
  input:focus {
    outline: none;
  }

  .search-dropdown-container {
    position: fixed;
    top: 3.5rem;
    left: 4rem;
    height: 300px;
    width: 250px;
    background-color: var(--background-color);
    border: 2px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }
  .selection {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .selection label {
    margin-bottom: -15px;
  }

  .search-button {
    margin: 0px 20px 20px 20px;
  }

  .show-all {
    position: flex;
    background-color: var(--white);
    color: var(--background-color);
    margin: 10px 0px;
    height: 40px;
    width: 20%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px var(--background-color) solid;
    text-transform: uppercase;
  }

  .show-all:hover {
    background-color: var(--background-color);
    color: var(--white);
    border: 2px var(--white) solid;
  }

  .toggle-drink-form-button {
    position: fixed;
    top: 90%;
    right: 0;
    z-index: 200;
    background-color: none;
    color: var(--white);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .toggle-drink-form-button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
    border: none;
  }

  .dropdown-buttons {
    margin: 10px;
    z-index: 6;
  }

  .dropdown-options {
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: var(--background-color);
    /* border: solid purple 2px; */
  }

  .logout-button {
    margin: 17px;
    cursor: pointer;
  }
}
