nav {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 99vh;
  max-width: 99vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 500 !important;
  /* border: orange solid 2px; */
  background-color: rgba(0, 0, 0, 0);
  margin-top: 75px;
  padding: 0 0 75px 0;
  gap: 15px;
}

.current-letter {
  color: var(--white);
  height: 70px;
  min-width: 70px;
  /* border: red solid 2px; */
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.7rem;
  margin: 0 0 0 10px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

.alphabet {
  height: 50vh;
}

.alphabet li {
  cursor: pointer;
  color: var(--white);
  font-size: 0.9rem;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0);
  /* border: solid yellow 2px; */
}

.alphabet li:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 900px) {
  nav {
    width: 50px;
  }
}
